/*Header Class SCSS Starts*/
.row{
    margin-left:10px;
}
.mat-icon{
    margin-top:20px;
}
.headeropen{
    margin-left:10px;
}
.headerclose{
    
    height:0%;
}
.logoclass{
    width:100px;
    height:50px;
    margin-top:-50px;
}


.searchfield{
    margin-top:10px;
    height:40px;
    width:500px;
}
.searchbutton{
    height:40px;
    width:50px;
    border:none;
    background-color: transparent;

}
.material-icons{
    margin-top:20px;
    height:40px;
    width:50px;
}
.endicons{
    margin-top:20px;
    font-size:20px;
    margin-left:40px;
    display:flex;
}
/*header CSS Ends*/

/*SideNav Css Starts*/

.sidenavlogo{
    width:110px;
    height:70px;
}
.list-group{
    height:30%;
    border:none;
}
.list-group-item{
    height:30%;
    border:none;
    cursor:pointer;

}
.list-group-item:hover{
    background-color:#ADACAB  ;
    color:white;
}


.mat-sidenav-container{
    height:100%;
    
   
    
}
  
  .mat-sidenav-content {
    padding: 16px;
    
  }
  
  .mat-sidenav {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    width: 200px;
    
  }

  .accounticon{
    background-color: transparent;
    border:none;
    cursor:pointer;
    margin-top:-23px;
    width:fit-content;
    height: fit-content;
  }

  .showaccount{
    z-index: 20;
    top:4.4rem;
    position:fixed;
    right:0;
    margin-right:20px;
    display: inline;
  }
  .notshowaccount{
    display: none;
  }
  .sidebar_account{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:250px;
    border-radius: 10px;
  }
  .sidebar__category{
    margin-left:10px;
    cursor:pointer;
  }
  .sidebar__category:hover{
    background-color: #dcdee3;
  }