<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
        <iframe width="700" height="400" [src]="(iddata)|safe:'resourceUrl'" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <br />
        <img src="/assets/images/location.png" height="20" width="20" class="locationclass">
        <div style="display:flex;margin-top:-20px;margin-left:45px;color: blue;font-style: italic;">US</div>
        <div class="titleclass">{{videodata[0].snippet.localized.title}}</div>
        <div class="statistics">
            <div class="views" style="color:#666666">{{videodata[0].statistics.viewCount|customdatepipe}}KViews </div>
            <div class="postedtime" style="color:#666666"> .{{videodata[0].snippet.publishedAt|date:'dd-MMM-yyyy'}}</div>
            <div class="likeicon" style="margin-left:100px;font-weight: 600;"><i class="bi bi-hand-thumbs-up"
                    style="font-size: 20px;font-weight: 600;"></i>{{videodata[0].statistics.likeCount|customdatepipe}}K</div>
            <div class="likeicon" style="margin-left:15px;font-weight: 600;"><i class="bi bi-hand-thumbs-down"
                    style="font-size: 20px;font-weight: 600;"></i>DISLIKE</div>
            <div class="likeicon" style="margin-left:15px;font-weight: 600;"><i class="bi bi-box-arrow-in-up-right"
                    style="font-size: 20px;font-weight: 600;"></i>SHARE</div>
            <div class="likeicon" style="margin-left:15px;font-weight: 600;"><i
                    class="fa-sharp fa-solid fa-scissors"></i>CLIP</div>
            <div class="likeicon" style="margin-left:15px;font-weight: 600;"><i
                    class="fa-sharp fa-solid fa-floppy-disk"></i>SAVE</div>
            <div style="font-size:20px;font-weight:600;margin-top:-3px;margin-left:10px;">...</div>

        </div>
        <hr />
        <div class="channeldetails">
            <img src="/assets/images/logo1.jpg" class="photodetails" />
            <div>
                <div class="channelname">
                    <div class="channeltitle" style="width:200px;">{{videodata[0].snippet.channelTitle}}</div>
                    <button type="button" class="btn btn-danger">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <hr />
        <div>{{videodata[0].snippet.description}}</div>

    </div>
    <div class="col-sm-4">
        <!-- <div class="row">
            <div class="col-6" *ngFor="let related of relatedVideo">
                    <a><img src="{{related.snippet.thumbnails.medium.url}}"></a>
            </div>
            <div class="col-6" *ngFor="let related of relatedVideo">
                {{relatedVideo.snippet.channelTitle}}
            </div>
           
           </div> -->
        <div class="row" *ngFor="let related of relatedVideo">
            <div class="col-sm-6"style="margin-bottom:20px;">
                <button (click)="suggest(related.id.videoId)" class="relatedbutton"><img src="{{related.snippet.thumbnails.medium.url}}"></button>
            </div>
            <div class="col-sm-6" style="margin-bottom:20px;">
                {{related.snippet.title}}
                <br/>
                <div class="relatedtitle">
                    {{related.snippet.channelTitle}}
                </div>
                <br/>
                <div class="relatedviews">1M Views . {{related.snippet.publishedAt|date:'dd-MMM-yyyy'}}</div>
                
            </div>
        </div>

    </div>

</div>