/*Thumbnail Css Starts*/
.thumbnail{
    cursor:pointer;
    border:none;
    height:180;
    width:320;
}

/*ThumbNail Css Ends*/

/*logo css starts*/
.logoclass{
    margin-top:10px;
    margin-left:20px;
    border-radius:50%;
    width:25px;
    height:25px;
}
.titleclass{
    font-weight:700;
    padding-top:10px;
    font-size: 13px;
    margin-left:5px;

}
.row{
    margin-bottom:10px;
}
.channelname{
    text-align: center;
    font-size:10px;

}
.publishtime{
    margin-left:20px;
}